/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, Arial, sans-serif;
}

/* GLOBAL BODY */
body {
    background: #cfe0e49a; /* soft pastel pink */
    color: #0d0707;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    background: #d3e6cf; /* pastel blue */
    color: rgb(37, 2, 2);
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar a {
    color: #bd3535;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.navbar a.active,
.navbar a:hover {
    color: #460531; /* baby pink */
}

/* ---------------------------------------------------------------- */
/* -------------------- BIO DATA PAGE LAYOUT ---------------------- */
/* ---------------------------------------------------------------- */

.layout {
    display: flex;
    padding: 40px;
    gap: 25px;
}

/* LEFT PANEL */
.left-panel {
    width: 35%;
    background: #e5e5da; /* pale pink */
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 15px rgba(114, 31, 31, 0.08);
}

.image-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #c7bebe;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-box {
    margin-top: 30px;
    text-align: left;
}

.contact-box h3 {
    color: #280707;
    font-size: 22px;
    margin-bottom: 10px;
}

/* RIGHT PANEL */
.right-panel {
    width: 65%;
    padding: 40px;
    background: #cbf0ed; /* baby-blue */
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
}

.main-name {
    font-size: 40px;
    font-weight: bold;
    color: #010e04;
}

.role {
    font-size: 18px;
    margin-bottom: 20px;
    color: #140202;
}

/* BIO DATA TITLE */
.sub-title {
    font-size: 22px;
    font-weight: bold;
    color: #0a0206;
    margin-top: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.personal-list {
    list-style: none;
    margin-top: 8px;
}

.personal-list li {
    padding: 6px 0;
    font-size: 17px;
}

.personal-list strong {
    color: #010e06;
}


/* ---------------------------------------------------------------- */
/* ------------------------ RESUME PAGE --------------------------- */
/* ---------------------------------------------------------------- */

.resume-clean {
    padding: 40px 60px;
    background: #e5f1f1f1; /* soft lavender */
    min-height: 100vh;
}

/* Section headings on resume */
.sub-title2 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #2d0c0c;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.resume-list {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: disc;
    padding-left: 25px;
}

.resume-list li {
    font-size: 18px;
    margin-bottom: 6px;
    color: #040101;
}

.skill-line {
    font-size: 18px;
    margin-bottom: 20px;
    color: #0e0808;
}
